<div class="container">
    <section class="about">
        <div class="row col-sm-12">
            <div class="offsetnotworking col-sm-1"></div>
            <div class="contenu col-sm-10 justify-content-center">
                <h1>CODEX BEZAE</h1>
                <div class="row titre_section col-sm-12 justify-content-center">
                    <h2>La gamification au centre de notre projet</h2>
                </div>
                <div class="row gamification col-sm-12 justify-content-center">

                    <p>Equipe de 4 moussaillons basés à Lyon, nous avons été séduits par le côté ludique du code et croyons que la gamification est un mode d’apprentissage puissant qui peut s’appliquer à tous les domaines de connaissance.</p>

                    <p>Au croisement entre tourisme et enquête policière, nous nous sommes lancés dans l’adaptation du jeu de piste Codex Bezae originellement créé par RAID IN LYON. Codex Bezae invite le joueur à découvrir certains monuments lyonnais au travers d’une série d’énigmes à résoudre.</p>
                    <div class="row transition col-sm-4"></div>
                </div>
                <div class="row titre_section col-sm-12 justify-content-center">

                    <h2>L’équipe</h2>
                    <div class="row equipe col-sm-12 justify-content-around">
                        <div class="row col-sm-12 equipe1">

                            <div class="youssef col-xs-12 col-sm-6 justify-content-center">

                                <div class="youssef_photo">
                                    <%=image_tag('team_youssef', class:"photo")%>
                                </div>
                                <div class="description youssef_description">
                                    <h3>Youssef</h3>
                                    <p>breve description breve description breve description</p>
                                </div>

                            </div>

                            <div class="metin col-xs-12 col-sm-6 justify-content-center">

                                <div class="metin_photo">
                                    <%=image_tag('team_metin', class:"photo")%>
                                </div>
                                <div class="description metin_description">
                                    <h3>Metin</h3>
                                    <p>breve description breve description breve description</p>
                                </div>

                            </div>
                        </div>

                        <div class="row col-sm-12 equipe2">

                            <div class="adeline col-xs-12 col-sm-6 justify-content-center">

                                <div class="adeline_photo">
                                    <%=image_tag('team_adeline', class:"photo")%>
                                </div>
                                <div class="description adeline_description">
                                    <h3>Adeline</h3>
                                    <p>breve description breve description breve description</p>
                                </div>

                            </div>
                            <div class="mathieu col-xs-12 col-sm-6 justify-content-center">

                                <div class="mathieu_photo">
                                    <%=image_tag('team_mathieu', class:"photo")%>
                                </div>
                                <div class="description mathieu_description">
                                    <h3>Mathieu</h3>
                                    <p>breve description breve description breve description</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row transition col-sm-4"></div>
                    <div class="col-sm-12">
                       <br>
                        <p>Pour nous contacter, cliquez <a href="mailto:charles@thehackingproject.org?subject=Codex Bezae">ici</a>.</p>
                    </div>
                    <div class="row transition col-sm-4"></div>
                </div>
                <div class="row titre_section col-sm-12 justify-content-center">
                    <h2>Raid In Lyon</h2>
                </div>
                <div class="row raid col-sm-12 justify-content-center">

                    <p>RAIDinLyon est une association de Loi 1901 ayant pour but de promouvoir et de partager avec le plus grand nombre la culture, la gastronomie et le patrimoine Lyonnais.</p>

                    <p>Depuis 2010, Raid In Lyon rassemble autour de jeux de piste, avec des concepts uniques à Lyon ! Le RAIDinLyon JEP (Journée du Patrimoine), leur événement principal se décline tout les ans autour d’un thème et d’un concept différent. La journée s’articule le plus souvent de cette façon : une équipe + un carnet de bord + une trentaine d’énigmes + un atelier + un buffet + une cérémonie + des récompenses ! L’association RAIDinLyon propose chaque année une nouvelle édition toujours plus dingue !</p>
                    <p><a href="http://raidinlyon.fr/lassociation-raidinlyon/" target="_blank">En savoir plus sur Raid In Lyon</a></p>
                    <div class="row col-sm-12 justify-content-center">
                        <div class="row transition col-sm-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
