<div class="container">
	<section class="about">
		<div class="row col-sm-12">
			<div class="offsetnotworking col-sm-1"></div>
			<div class="contenu col-sm-10">
				<div class="row titre_section col-sm-12 justify-content-center">
					<h1>La gamification au centre de notre projet</h1>
				</div>
				<div class="row gamification col-sm-12 justify-content-center">

					<p>Equipe de 4 moussaillons basés à Lyon, nous avons été séduits par le côté ludique du code et croyons que la gamification est un mode d’apprentissage puissant qui peut s’appliquer à tous les domaines de connaissance.</p>

					<p>Au croisement entre tourisme et enquête policière, nous nous sommes lancés dans l’adaptation du jeu de piste Codex Bezae originellement créé par RAID IN LYON.
						Codex Bezae  invite le joueur à découvrir certains monuments lyonnais au travers d’une série d’énigmes à résoudre.</p>
						<div class="row transition col-sm-4"></div>
				</div>
					<div class="row titre_section col-sm-12 justify-content-center">
						
						<h1>L’équipe</h1>
						<div class="row equipe col-sm-10 justify-content-around">

							<div class="adeline col-sm-3"><h2>Adeline</h2><p>breve description</p></div>
							<div class="mathieu col-sm-3"><h2>Mathieu</h2><p>breve description</p></div>
							<div class="methin col-sm-3"><h2>Methin</h2><p>breve description</p></div>
							<div class="youssef col-sm-3"><h2>Youssef</h2><p>breve description</p></div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
</div>	