<div class="container">
	<section class="about">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum sunt eius, illo temporibus eum aliquam voluptate commodi minima earum magnam culpa, dolorem soluta neque! Voluptate, sunt quas quae eius facilis?</p>
	</section>
</div>