<div class="formfor">
    <h2>Nous contacter</h2>
    <form action="/action_page.php">
        <label for="fname">Prénom</label>
        <input type="text" id="fname" name="firstname" placeholder="Votre prénom...">

        <label for="lname">Nom</label>
        <input type="text" id="lname" name="lastname" placeholder="Votre nom...">

        <label for="country">Pays</label>
        <select id="country" name="country">
      <option value="france">France</option>
      <option value="turquie">Turquie</option>
      <option value="maroc">Maroc</option>
    </select>

        <label for="subject">Votre message</label>
        <textarea id="subject" name="subject" placeholder="Tapez ici votre message...." style="height:200px"></textarea>

        <input type="submit" value="Envoyer">
    </form>
</div>
