	<div class="welcome">
		<!--<p>Rejoins l'historien Epiphane dans sa quête des pages disparues du Codex Bezae.</p>
		<p>Arpente la ville, découvre les indices dissimulés dans les plus anciens bâtiments de Lyon et aide à résoudre une des plus grandes intrigues historiques!!</p>-->
	</div>
	<% if user_signed_in? %>

	<div class="section1">
        <div class="row">

           
                <div class="col">
                    <%= image_submit_tag("personnage_homme.gif", class: 'start') %>
                </div>
                <div class="col">
                    <%= image_submit_tag("personnage_femme.gif", class: 'start') %>
                </div>

            
        </div>
            <div class="row">
               <p class="start choix"><strong>Choix du personnage</strong></p>
           </div>

          
           <%= render 'layouts/map' %>

           <% else %>
           <div class='welcome'>
               <h1><%= link_to 'JOUER', new_user_session_path, class:'connexion_lien' %></h1>
           </div>
           <% end %>
