 
<% if user_signed_in? %>

<div class="section1 col-sm-12">
    <div class="row">


        <div class=" col-sm-4 personnage">
            <%= image_submit_tag("personnage_homme.gif", class: 'start img-responsive') %>
        </div>
        <div class="col-sm-4 personnage">
            <p id="main_titre"><strong>Choisis ton personnage</strong></p>
        </div>
        <div class="col-sm-4 personnage">
            <%= image_submit_tag("personnage_femme.gif", class: 'start img-responsive') %>
        </div>


    </div>

    <div id="mapid" class="col-sm-12"></div>

</div>

<% else %>

<h1 class="titre">CODEX BEZAE</h1>

<div class="welcome">
    <div class="pitch">
        <p>Rejoins l'historien Epiphane dans sa quête des pages disparues du Codex Bezae.</p>
        <p>Arpente la ville, découvre les indices dissimulés dans les plus anciens bâtiments de Lyon et aide à résoudre une des plus grandes intrigues historiques!!</p>
    </div>
    <h5>
        <%= link_to 'JOUER', new_user_session_path, class:'jouer_lien' %>
    </h5>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script> 
    $(document).ready(function(){
        $(".titre").click(function(){
            $(".welcome").slideToggle('slow');
        });
    });
</script>
<<<<<<< HEAD
=======

<script> 
    $(document).ready(function(){
        $(".welcome").click(function(){
            $(".JOUER").slideToggle('slow');
        });
    });
</script>

>>>>>>> fond_et_nav
<% end %>

<div class="satisfaction"><h3></h3>
    

    <div class="etoile" id="1" onclick="manageStars(this)"><i class="fa fa-star" aria-hidden="true"></i></div>
    <div class="etoile" id="2" onclick="manageStars(this)"><i class="fa fa-star" aria-hidden="true"></i></div>
    <div class="etoile" id="3" onclick="manageStars(this)"><i class="fa fa-star" aria-hidden="true"></i></div>
    <div class="etoile" id="4" onclick="manageStars(this)"><i class="fa fa-star" aria-hidden="true"></i></div>
    <div class="etoile" id="5" onclick="manageStars(this)"><i class="fa fa-star" aria-hidden="true"></i></div>

</div>