	<div class="welcome">
		<!--<p>Rejoins l'historien Epiphane dans sa quête des pages disparues du Codex Bezae.</p>
		<p>Arpente la ville, découvre les indices dissimulés dans les plus anciens bâtiments de Lyon et aide à résoudre une des plus grandes intrigues historiques!!</p>-->
	</div>
	<% if user_signed_in? %>

	<div class="section1">
		<%= render 'layouts/map' %>
	</div>
	<% else %>
	<div class='welcome'>
	    <h1><%= link_to 'JOUER', new_user_session_path, class:'connexion_lien' %></h1>
	</div>
	<% end %>
