 
<% if user_signed_in? %>

<div class="section1 col-sm-12">
    <div class="row">


        <div class=" col-sm-4 personnage">
            <%= image_submit_tag("personnage_homme.gif", class: 'start img-responsive') %>
        </div>
        <div class="col-sm-4 personnage">
            <p class="start"><strong>Choisis ton personnage</strong></p>
        </div>
        <div class="col-sm-4 personnage">
            <%= image_submit_tag("personnage_femme.gif", class: 'start img-responsive') %>
        </div>


    </div>

    <%= render 'layouts/map' %>
</div>

<% else %>

<div class="welcome" style="background-image: url(http://secretvibes-shop.fr/crbst_vieux-papier_20sv_20site.jpg)">
    <div class="pitch">
        <p>Rejoins l'historien Epiphane dans sa quête des pages disparues du Codex Bezae.</p>
        <p>Arpente la ville, découvre les indices dissimulés dans les plus anciens bâtiments de Lyon et aide à résoudre une des plus grandes intrigues historiques!!</p>
    </div>
    <h3><%= link_to 'JOUER', new_user_session_path, class:'connexion_lien' %></h3>

</div>

<div class="codexbezae">
    <h1 class="titre" style="background-image: url(http://secretvibes-shop.fr/crbst_vieux-papier_20sv_20site.jpg)">CODEX BEZAE </h1>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script> 
    $(document).ready(function(){
        $(".titre").click(function(){
            $(".welcome").slideToggle('slow');
        });
    });
</script>

<script> 
    $(document).ready(function(){
        $(".welcome").click(function(){
            $(".JOUER").slideToggle('slow');
        });
    });
</script>
<% end %>
