// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, or any plugin's
// vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file. JavaScript code in this file should be added after the last require_* statement.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery3
//= require popper
//= require jquery_ujs
//= require rails-ujs
//= require bootstrap
//= require turbolinks
//= require_tree .

//Quand le joueur est connecté, et qu'il clique sur commencer la partie => Changement du background, apparition de la map, lancement musique.


//Ajout de la carte Leaflet dans la div #mapid avec coordonnées et niveau de zoom
var map = L.map('mapid', {
    zoomControl: false
}).setView([45.760041, 4.8351343], 13);

map.scrollWheelZoom.disable();

//Ajout du thème (Impossibilité de le modifier pour le moment)
L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
    attribution: false,
    subdomains: 'abcd',
    minZoom: 13,
    maxZoom: 13,
    ext: 'png'
}).addTo(map);

//Ajout d'un marqueur aux positions indiquées et d'un popup cliquable qui affiche le texte
var firstMarker = L.marker([45.760041, 4.8351343], {title: 'Lieu de départ - Place des Jacobins'});

var popup = L.popup({
        className: 'bookpopup'
    })
    .setLatLng([45.7623314, 4.67])
    .setContent('<%= image_tag("book.png", width: "850px") %>');

var secondMarker = L.marker([45.7623314, 4.8275598], {title: 'Etape 1 - Cathédrale Saint-Jean'});

var thirdMarker = L.marker([45.763, 4.8326874], {title: 'Etape 2 - Quais de Saone'});

var fourthMarker = L.marker([45.759722, 4.819722], {title: 'Etape 3 - Théatre Antique de Fourvière'});

var fifthMarker = L.marker([45.769167, 4.8125], {title: 'Etape 4 - Conservatoire National Supérieur de Musique et de Danse'});

var sixthMarker = L.marker([45.770556, 4.830556], {title: 'Etape 5 - Amphithéatre des 3 Gaules'});

var seventhMarker = L.marker([45.755086, 4.813786], {title: 'Lieu final - Eglise Saint-Irénée'});

firstMarker.addTo(map)
    .bindPopup('<p id="startmap">Commencer</p>').openPopup();

$('html').on('click', '#startmap', function () {

    firstMarker.setPopupContent('<p>Cher Collègue,</p><p>Je travaille actuellement à l\'étude du Codex Bezae, un manuscrit bilingue grec et latin du Vème siècle contenant les évangiles et les actes des apôtres.</p><p>Au cours de mon travail, j\'ai identifié une piste solide dans la recherche des pages disparues en 1562 lorsque le Codex a été volé à l\'Eglise par les Huguenots.</p><p>C\'est un de mes confrères, Palamède, qui s\'est rendu à Lyon pour enquêter sur place.</p><p>J\'ai reçu de manière cryptée chaque étape de ses avancées, mais depuis son dernier message la semaine dernière, je suis sans nouvelles.</p><p>Il semble avoir disparu\nNe pouvant venir moi-même à sa recherche, je vous prie de bien vouloir mettre tout en œuvre pour les retrouver: lui, et les fameuses pages manquantes.</p><p>Tous les éléments à ma disposition, dont nos derniers échanges, vous ont été transmis dans cette missive.</p><p>D\'avance je vous remercie,</p><p>Epiphane</p><center><p id="startgame">Commencer</p></center>');
});



$(document).ready(function () {

            $('html').on('click', '.start', function () {

                $('.start').hide();

                $('body').append('<style>body:before{-webkit-filter: blur(1.5px) sepia(100%) grayscale(80%) contrast(50%) opacity(50%); -moz-filter: blur(1.5px) sepia(90%) grayscale(80%) contrast(50%) opacity(50%); -o-filter: blur(1.5px) sepia(90%) grayscale(80%) contrast(50%) opacity(50%); -ms-filter: blur(1.5px) sepia(90%) grayscale(80%) contrast(50%) opacity(50%); filter: blur(1.5px) sepia(90%) grayscale(80%) contrast(50%) opacity(50%); transform: scale(1.02)!important;}</style>');

                $('#mapid').css('height', '40rem');

                map.invalidateSize();

                $('#mapid').fadeTo(2000, 1);

                player = document.getElementById('sound');

                player.play();

            });

            //fonction pour que dropdown fonctionne même après retour sur home

            $('html').on('click', '.dropdown_test', function () {

                if ($('.dropdown-menu').hasClass('show')) {
                    $('.dropdown-menu').removeClass('show');

                } else {
                    $('.dropdown-menu').addClass('show');
                }
            });

            $('html').on('click', '#startgame', function () {

                firstMarker.closePopup();

                secondMarker.addTo(map)
                    .bindPopup('<center><h4>Là où l\'on se recueille</h4></center><br><center><img src="https://lyonfrance.ca/images/saintjeancathedral.jpg" width="100%"><p>Cher Ami,</p><p>Au cœur du vieux Lyon se trouve la cathédrale St Jean. Elle fut le théâtre d\'événements importants: couronnement du Pape, mariage royal, conciles et autres distinctions...</p><p>Sa construction s\'étale sur 3 siècles, mélangeant les styles gothiques et romans sur sa façade. Elle possède une horloge astronomique du XIVème siècle. Je suis resté sous le charme de la rosace de sa façade.</p><p>La cathédrale a été dévastée par les troupes du Baron des Adrets en 1562. L\'intérieur de l\'édifice a subi de nombreuses transformations et il est encore régulièrement rénové.</p><p>Heureusement, j\'ai tout de même pu localiser un livre enluminé en exposition. Les paragraphes de l\'Évangile selon St Jean m\'ont donné une indication précieuse.</p><p>Palamède</p><center><p id="cathedrale">Commencer</p></center>');

                secondMarker.openPopup();

                $('html').on('click', '#cathedrale', function () {

                    secondMarker.setPopupContent('</center><br><h4>Là où tout devient clair</h4><p id="message_alert"></p><p>Dans la cathédrale, j\’ai trouvé un extrait de l\’Évangile selon Saint-Jean. C’est un Évangile que l’on trouve également dans le Codex.<p>A l\’aide du texte, tu pourras traduire:</p><%= image_tag("code.png") %><center><p id="openbook">Ouvrir le Livre</p></center><center><input id="reponse1" type="text" placeholder="Saisir la réponse ici"/><button id="valider1">Valider</button></center>');

                    $('html').on('click', '#openbook', function () {


                        popup.addTo(map);
                        secondMarker.addTo(map);

                    });


                    function verif() {

                        let maReponse = document.getElementById('reponse1').value.toLowerCase();


                        if (maReponse == 'eglise' || maReponse == 'église') {

                            $('#message_alert').html('Bien joué ! Pour passer à l\'étape suivante, <span id="next_step">cliquez ici</span>').css('color', 'white').css('background-color', 'red').css('text-align', 'center').css('font-size', '1rem');

                            $('html').on('click', '#next_step', function () {

                            popup.closePopup();
                            secondMarker.closePopup();

                            map.panTo(new L.LatLng(45.763, 4.8326874));

                            thirdMarker.addTo(map)
                                .bindPopup('<center><h4>Là où il y a des tâches d\'encre</h4></center><br><center><img src="http://static.panoramio.com/photos/large/20834705.jpg" width="100%"></center><br><p>Cher Ami,</p><p>Lyon est la capitale de beaucoup de domaines : la capitale des Gaules, celle de la gastronomie... mais également celle de l\'imprimerie en son temps.</p><p>En 1472, Barthélemy Buyer installe le premier atelier dans sa maison sur les quais de Saône. Au cours du siècle suivant, presque un tiers des éditions françaises sont imprimées à Lyon notamment dans la rue Mercière et ses alentours.</p><p>Beaucoup d\'imprimeurs sont d\'ailleurs protestants. Tant et si bien que lorsque la ville fut reprise par les catholiques, ils fuirent aux Pays-Bas ou à Genève. C\'est d\'ailleurs là-bas que s\'était réfugié Théodore de Bèze. Il y réceptionna le Codex, qu\'il avait demandé à ses amis de voler pour lui.</p><p>Mais au IXème siècle, bien avant la Bible de Gutenberg et les presses, Lyon a accueilli un diacre reconnu pour son ouvrage littéraire : Florus. Celui-ci a été authentifié comme l\'auteur de plusieurs pages du Codex.</p><p>Le musée de l\'imprimerie, déjà en lien avec le Codex par ces biais, possède également les Tables Claudiennes, qui, bien qu\'antérieures à la disparition des pages, a visiblement inspiré ceux qui les ont cachées.</p><center><p id="encre">Commencer</p></center>');

                            thirdMarker.addTo(map);

                            });

                        } else {


                            $('#message_alert').html('Malheureusement, ce n\est pas le mot qu\'il fallait deviner. Essaie encore !').css('color', 'white').css('background-color', 'red').css('text-align', 'center').css('font-size', '1rem');

                        }

                    }

                    $('html').on('click', '#valider1', function () {


                        verif()

                    });

                    // Lance la fonction verif quand on presse entrée
                    $('html').on('keypress', '#reponse1', function (e) {

                        var key = e.which;

                        if (key == 13) { //The Enter press Key

                            verif()

                        }

                    });

                    $('html').on('click', '#encre', function () {

                        thirdMarker.setPopupContent('<center><h4>Là où l\'on ouvre les yeux</h4></center><p id="message_alert2"></p><p>C\'est une phrase en latin qui m\a poussé à me rendre sur Lyon. Cette phrase, la voici:</p><p>T E M P U S C E S T I A M T I</p><p>C A R E S A R G E R M A N I C E</p><p>D E T E G E R E T E P A T Y R I B U S</p><p>C O N S C R I P T I S Q U O</p><p>T E N D A T O R A T I O T U A</p><p>I P A M E N I M A D E X T R E M O S</p><p>F I N E S G A L L I T A E N A R</p><p>B O N E N E S I S V E N I S T I</p><p>J\'ai cependant noté quelques différences avec l\'originale...<p><center><input id="reponse2" type="text" placeholder="Saisir la réponse ici"/><button id="valider2">Valider</button></center>');

                        function verif2() {

                            let maReponse2 = document.getElementById('reponse2').value.toLowerCase();


                            if (maReponse2 == 'crypte') {

                                $('#message_alert2').html('Bien joué ! Pour passer à l\'étape suivante, <span id="next_step2">cliquez ici</span>').css('color', 'white').css('background-color', 'red').css('text-align', 'center').css('font-size', '1rem');

                                $('html').on('click', '#next_step2', function () {

                                thirdMarker.closePopup();

                                map.panTo(new L.LatLng(45.759722, 4.819722));

                                fourthMarker.addTo(map)
                                    .bindPopup('<center><h4>Là où j\'ai retrouvé Cybèle</h4></center><img src="https://upload.wikimedia.org/wikipedia/commons/8/87/Theatre_antique_Fourviere.jpg" width="100%"><p>Cher Ami,</p><p>J\'ai été visité le Théâtre de Fourvière, l\'Odéon, le musée qui y est accolé et le temple de Cybèle. J\'aime beaucoup l\'idée de donner une seconde vie à ces lieux en y organisant des concerts où les spectateurs peuvent venir assister à des spectacles, presque dans les conditions de l\'époque ! Bien que dans le temps, celui-ci possédait un mur en fond de scène et était probablement couvert.</p><p>J\'ai appris que le Théâtre a été trouvé par hasard, alors que les fouilles avaient pour but de localiser l’Amphithéâtre des 3 Gaules.</p><p>Le lieu daterait de la fin du 1er siècle, soit en même temps que le texte fondateur du Codex... Les personnes qui ont caché les pages semblent faire un lien. J\'ai donc cherché un lien entre le lieu d\'origine du Codex, la Phrygie, et le Théâtre.</p><p>Ce qui m\'amène à Cybèle, grande déesse-Mère de l\'Antiquité au Proche Orient, symbole de la nature sauvage et de la fertilité... C\'est en parcourant le supposé temple que j\'ai trouvé l\'indice suivant.</p><center><p id="cybelestart">Commencer</p></center>');

                                fourthMarker.addTo(map);

                                });

                            } else {


                                $('#message_alert2').html('Malheureusement, ce n\est pas le mot qu\'il fallait deviner. Essaie encore !').css('color', 'white').css('background-color', 'red').css('text-align', 'center').css('font-size', '1rem');

                            }

                        }

                        $('html').on('click', '#valider2', function () {


                            verif2()

                        });

                        // Lance la fonction verif quand on presse entrée
                        $('html').on('keypress', '#reponse2', function (e) {

                            var key = e.which;

                            if (key == 13) { //The Enter press Key

                                verif2()

                            }

                        });

                        $('html').on('click', '#cybelestart', function () {

                            fourthMarker.setPopupContent('<h4>Là où j\'aurai dû être archéologue</h4><p id="message_alert3"></p><p>Au gré de ma balade parmi les ruines de ce temple païen, je suis tombé sur un ancien symbole chrétien gravé sur une pierre.</p><p>A l\'origine, c\'était l\'abréviation d\'un mot signifiant "utile, de bon augure".</p><p>Il serait très mal vu de voler la pierre, mais mon instinct me dicte que ce pourrait être important, mieux vaudrait-il en faire une esquisse pour en garder un trace.</p><p>Cherche le nom de ce symbole et entre la réponse ci-dessous:</p><center><input id="reponse3" type="text" placeholder="Saisir la réponse ici"/><button id="valider3">Valider</button></center>');

                            function verif3() {

                                let maReponse3 = document.getElementById('reponse3').value.toLowerCase();


                                if (maReponse3 == 'chisme') {

                                    $('#message_alert3').html('Bien joué ! Pour passer à l\'étape suivante, <span id="next_step3">cliquez ici</span>').css('color', 'white').css('background-color', 'red').css('text-align', 'center').css('font-size', '1rem');

                                    $('html').on('click', '#next_step3', function () {

                                    fourthMarker.closePopup();

                                    map.panTo(new L.LatLng(45.769167, 4.8125));

                                    fifthMarker.addTo(map)
                                        .bindPopup('<center><h4>Là où les artistes grandissent</h4></center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Conservatoire_national_sup%C3%A9rieur_musique_et_danse_de_Lyon_de_nuit.JPG/800px-Conservatoire_national_sup%C3%A9rieur_musique_et_danse_de_Lyon_de_nuit.JPG" width="100%"><p>Cher Ami,</p><p>Mon instinct me dit que les prêtres qui ont sauvegardé les pages du Codex ont bien dû se cacher le temps que les catholiques reprennent la ville après la révolte des Huguenots.</p><p>De ce fait, et après quelques recherches, j\'ai retrouvé leur trace dans un couvent des bords de Saône. Malheureusement, le couvent des cordeliers de l\'observance a lui aussi été en partie détruit par les protestants et j\'ai peu d\'indices sur le temps qu\'ils y ont passé.</p><p>Cela dit, l\'édifice mérite d\'être observé : depuis les thermes de la période gallo-romaine, jusqu\'au conservatoire national supérieur de musique et de danse aujourd\'hui, ce ne sont pas moins de 2 couvents, un hôpital et une école vétérinaire qui se sont succédé en ces lieux.</p><center><p id="artistestart">Commencer</p></center>');

                                    fifthMarker.addTo(map);

                                    });

                                } else {


                                    $('#message_alert3').html('Malheureusement, ce n\est pas le mot qu\'il fallait deviner. Essaie encore !').css('color', 'white').css('background-color', 'red').css('text-align', 'center').css('font-size', '1rem');

                                }

                            }

                            $('html').on('click', '#valider3', function () {


                                verif3()

                            });

                            // Lance la fonction verif quand on presse entrée
                            $('html').on('keypress', '#reponse3', function (e) {

                                var key = e.which;

                                if (key == 13) { //The Enter press Key

                                    verif3()

                                }

                            });

                            $('html').on('click', '#artistestart', function () {

                                fifthMarker.setPopupContent('<h4>Là où les arts et les maths se rejoignent</h4><p id="message_alert4"></p><p>C\'est étrange, le bâtiment est assez différents de ce que j\'imaginais.</p><p>J\'ai trouvé ce matin un message sous ma porte de chambre qui m\'a fait froid dans le dos. J\'ai donc décidé de protéger mes dernières conclusions dans ma boite de sureté et j\'en ai changé le code. Pour être sûr que toi seul puisses le retrouver, j\'ai fait appel à ton goût pour les mathématiques :</p><p>*A l\'étage, la balustrade est ornée d\'un certain nombre de vases. Ajoute-les au nombre de bourgeons sur le portail. Multiplie-le par le nombre d\'étages du bâtiment, puis par le nombre de fenêtres du mur du fond.</p><p>Prends ensuite le nombre d\'années qu\'a vécu M.S. Arloing. Multiplie-le par le nombre d\'arches autour du cloître.</p><p>Et additionne le tout !*</p><center><input id="reponse4" type="text" placeholder="Saisir la réponse ici"/><button id="valider4">Valider</button></center>');

                                function verif4() {

                                    let maReponse4 = document.getElementById('reponse4').value.toLowerCase();


                                    if (maReponse4 == '53') {

                                        $('#message_alert4').html('Bien joué ! Pour passer à l\'étape suivante, <span id="next_step4">cliquez ici</a>').css('color', 'white').css('background-color', 'red').css('text-align', 'center').css('font-size', '1rem');

                                        $('html').on('click', '#next_step4', function () {

                                        fifthMarker.closePopup();

                                        map.panTo(new L.LatLng(45.770556, 4.830556));

                                        sixthMarker.addTo(map)
                                            .bindPopup('<center><h4>Là où j\'ai visité les martyrs</h4></center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Amphith%C3%A9%C3%A2tre_des_Trois_Gaules_Lyon.jpg/1024px-Amphith%C3%A9%C3%A2tre_des_Trois_Gaules_Lyon.jpg" width="100%"><p>Cher Ami,</p><p>Lyon est vraiment une ville riche pour quiconque s\'intéresse à son histoire. Notre quête vient juste de me mener à l\'Amphithéâtre des 3 Gaules.</p><p>C\'est le plus ancien amphithéâtre romain de la Gaule et il permettait à près de 20 000 personnes de témoignern leur fidélité à Rome et d\'assister aux jeux du cirque.</p><p>En 177 après J-C, les spectateurs ont assisité au supplice des martyrs chrétiens de Gaule: 48 personnes dont la célébre Ste Blandine et le premier évêque de Lyon: St Pothin.</p><p>La légende raconte que Blandine fût une jeune esclave qui, après avoir été incarcérée, fut livrée aux lions avec ses compagnons. Les bêtes refusèrent de lui fair ele moindre mal. Elle fut ensuite torturée, tandis que les autres furent assassinés devant elle, puis flagellée et brûlée au gril et enfin enfermée dans un filet et livrée à un taureau. Cela ne suffit cependant pas à la tuer et c\'est finalement sous la lame d\'un bourreau qu\'elle rendit son dernier souffle, sans jamais avoir renié sa foi.</p><p>Dans les faits, Blandine aurait été une femme mûre.</p><p>Mais l\'intégralité de son martyr est avéré.</p><center><p id="blandinestart">Commencer</p></center>');

                                        sixthMarker.addTo(map);

                                        });

                                    } else {


                                        $('#message_alert4').html('Malheureusement, ce n\est pas le mot qu\'il fallait deviner. Essaie encore !').css('color', 'white').css('background-color', 'red').css('text-align', 'center').css('font-size', '1rem');

                                    }

                                }

                                $('html').on('click', '#valider4', function () {


                                    verif4()

                                });

                                // Lance la fonction verif quand on presse entrée
                                $('html').on('keypress', '#reponse4', function (e) {

                                    var key = e.which;

                                    if (key == 13) { //The Enter press Key

                                        verif4()

                                    }

                                });

                                $('html').on('click', '#blandinestart', function () {

                                    sixthMarker.setPopupContent('<h4>Le pacifique de Smyrne</h4><p>J\ai découvert ici des indices qui me laissent penser que notre destination est en rapport avec un Saint.</p><P>Sur place, j\'ai trouvé des morceaux de parchemin provenant de Smyrne, en Turquie. Ces derniers mentionnents un Saint ayant probablement connu Saint-Polycarpe et auteur de "Contre les hérésies".</p><p>Mes recherches m\'ont menées à une date en rapport avec l\'église catholique: le 28 juin</p><p id="message_alert5"><center><input id="reponse5" type="text" placeholder="Saisir la réponse ici"/><button id="valider5">Valider</button></center>');

                                    function verif5() {

                                        let maReponse5 = document.getElementById('reponse5').value.toLowerCase();


                                        if (maReponse5 == 'saint-irénée') {

                                            $('#message_alert5').html('Bien joué ! Pour passer à l\'étape suivante, <span id="next_step5">cliquez ici</span>').css('color', 'white').css('background-color', 'red').css('text-align', 'center').css('font-size', '1rem');

                                            $('html').on('click', '#next_step5', function () {

                                            sixthMarker.closePopup();

                                            map.panTo(new L.LatLng(45.755086, 4.813786));

                                            seventhMarker.addTo(map)
                                                .bindPopup('<center><h4>Là où l\'on obtient des réponses</h4></center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Eglisesaintireneelyon.JPG/800px-Eglisesaintireneelyon.JPG" width="100%"><p>Bravo cher ami.</p><p>Tu es parvenu au lieu final de notre quête !</p><p>J\'ai pu identifier le lieu où reposent les pages du codex Bezae. C\'est sous terre qu\'elles sont dissimulées à la vue de tous. Dans la cour de l\'église Sainte Irénée, on trouve un portail qui mène à des souterrains qui se perdent sous la ville de Lyon. Ces souterrains ont d\'ailleurs été utilisés par les résistants durant les différentes guerres.</p><p>J\'ai pu retrouver une page lors de mes explorations et je l\'ai dissimulée dans la crypte, car j\'ai peur que notre initiative ne soit pas vue d\'un bon œil par ceux qui gardent le secret.</p><p>Je vais repartir en expédition... si je venais à disparaitre, je laisse la page entre Epipode et Alexandre, là où il est possible de se reposer pour écouter la messe.</p><center><p id="endstart">Commencer</p></center>');

                                            seventhMarker.addTo(map);

                                            });

                                        } else {


                                            $('#message_alert5').html('Malheureusement, ce n\est pas le mot qu\'il fallait deviner. Essaie encore !').css('color', 'white').css('background-color', 'red').css('text-align', 'center').css('font-size', '1rem');

                                        }

                                    }

                                    $('html').on('click', '#valider5', function () {


                                        verif5()

                                    });

                                    // Lance la fonction verif quand on presse entrée
                                    $('html').on('keypress', '#reponse5', function (e) {

                                        var key = e.which;

                                        if (key == 13) { //The Enter press Key

                                            verif5()

                                        }

                                    });

                                });
                            });

                        });
                    });
                });

            });
});
