// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, or any plugin's
// vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file. JavaScript code in this file should be added after the last require_* statement.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery3
//= require popper
//= require jquery_ujs
//= require rails-ujs
//= require bootstrap
//= require turbolinks
//= require_tree .

//Quand le joueur est connecté, et qu'il clique sur commencer la partie => Changement du background, apparition de la map, lancement musique.


//Ajout de la carte Leaflet dans la div #mapid avec coordonnées et niveau de zoom
var map = L.map('mapid', {
    zoomControl: false
}).setView([45.760041, 4.8351343], 13);
map.scrollWheelZoom.disable();

//Ajout du thème (Impossibilité de le modifier pour le moment)
L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
    attribution: false,
    subdomains: 'abcd',
    minZoom: 13,
    maxZoom: 13,
    ext: 'png'
}).addTo(map);

//Ajout d'un marqueur aux positions indiquées et d'un popup cliquable qui affiche le texte
var firstMarker = L.marker([45.760041, 4.8351343]).addTo(map)
    .bindPopup('<p id="startmap">Commencer</p>').openPopup();

$('html').on('click', '#startmap', function () {

    firstMarker.setPopupContent('<p>Cher Collègue,</p><p>Je travaille actuellement à l\'étude du Codex Bezae, un manuscrit bilingue grec et latin du Vème siècle contenant les évangiles et les actes des apôtres.</p><p>Au cours de mon travail, j\'ai identifié une piste solide dans la recherche des pages disparues en 1562 lorsque le Codex a été volé à l\'Eglise par les Huguenots.</p><p>C\'est un de mes confrères, Palamède, qui s\'est rendu à Lyon pour enquêter sur place.</p><p>J\'ai reçu de manière cryptée chaque étape de ses avancées, mais depuis son dernier message la semaine dernière, je suis sans nouvelles.</p><p>Il semble avoir disparu\nNe pouvant venir moi-même à sa recherche, je vous prie de bien vouloir mettre tout en œuvre pour les retrouver: lui, et les fameuses pages manquantes.</p><p>Tous les éléments à ma disposition, dont nos derniers échanges, vous ont été transmis dans cette missive.</p><p>D\'avance je vous remercie,</p><p>Epiphane</p><center><p id="startgame">Commencer</p></center>');
});



$(document).ready(function () {
    
    


    $('html').on('click', '.start', function () {

        $('.start').hide();

        $('body').append('<style>body:before{-webkit-filter: blur(1.5px) sepia(100%) grayscale(80%) contrast(50%) opacity(50%); -moz-filter: blur(1.5px) sepia(90%) grayscale(80%) contrast(50%) opacity(50%); -o-filter: blur(1.5px) sepia(90%) grayscale(80%) contrast(50%) opacity(50%); -ms-filter: blur(1.5px) sepia(90%) grayscale(80%) contrast(50%) opacity(50%); filter: blur(1.5px) sepia(90%) grayscale(80%) contrast(50%) opacity(50%); transform: scale(1.02)!important;}</style>');

        $('#mapid').css('height', '40rem');

        map.invalidateSize();

        $('#mapid').fadeTo(2000, 1);

        player = document.getElementById('sound');

        player.play();

    });


    //fonction pour que dropdown fonctionne même après retour sur home


    $('html').on('click', '.dropdown_test', function () {

        if ($('.dropdown-menu').hasClass('show')) {
            $('.dropdown-menu').removeClass('show');

        } else {
            $('.dropdown-menu').addClass('show');
        }
    });



    $('html').on('click', '#startgame', function () {

         var popup = L.popup({className: 'bookpopup'})
                    .setLatLng([45.7623314, 4.67])
                    .setContent('<%= image_tag("book.png", width: "850px") %>')

        firstMarker.closePopup();

        var secondMarker = L.marker([45.7623314, 4.8275598]).addTo(map)
            .bindPopup('<div id="cathedrale"><center><h4>Là où l\'on se recueille</h4></center><br><center><img src="https://lyonfrance.ca/images/saintjeancathedral.jpg" width="100%"><p>Cher Ami,</p><p>Au cœur du vieux Lyon se trouve la cathédrale St Jean. Elle fut le théâtre d\'événements importants: couronnement du Pape, mariage royal, conciles et autres distinctions...</p><p>Sa construction s\'étale sur 3 siècles, mélangeant les styles gothiques et romans sur sa façade. Elle possède une horloge astronomique du XIVème siècle. Je suis resté sous le charme de la rosace de sa façade.</p><p>La cathédrale a été dévastée par les troupes du Baron des Adrets en 1562. L\'intérieur de l\'édifice a subi de nombreuses transformations et il est encore régulièrement rénové.</p><p>Heureusement, j\'ai tout de même pu localiser un livre enluminé en exposition. Les paragraphes de l\'Évangile selon St Jean m\'ont donné une indication précieuse.</p><p>Palamède</p></div>');

        secondMarker.openPopup();

        $('html').on('click', '#cathedrale', function () {

            secondMarker.setPopupContent('</center><br><h4>Là où tout devient clair</h4><p id="message_alert"></p><p>Dans la cathédrale, j\’ai trouvé un extrait de l\’Évangile selon Saint-Jean. C’est un Évangile que l’on trouve également dans le Codex.<p>A l\’aide du texte, tu pourras traduire:</p><%= image_tag("code.png") %><center><p id="openbook">Ouvrir le Livre</p></center><center><input id="reponse1" type="text" placeholder="Saisir la réponse ici"/><button id="valider1">Valider</button></center>');

            $('html').on('click', '#openbook', function () {


                popup.addTo(map);
                secondMarker.addTo(map);

            });


            function verif() {

                let maReponse = document.getElementById('reponse1').value.toLowerCase();


                if (maReponse == 'eglise' || maReponse == 'église') {

                    $('#message_alert').html('Bien joué ! Pour passer à l\'étape suivante, <a class="next_step">cliquez ici</a>').css('color', 'white').css('background-color', 'red').css('text-align', 'center').css('font-size', '1rem');

                    var thirdMarker = L.marker([45.763, 4.8326874]).addTo(map)
                        .bindPopup('<center><h4>Là où il y a des tâches d\'encre</h4></center><br><center><img src="http://static.panoramio.com/photos/large/20834705.jpg" width="100%"></center><br><p>Cher Ami,</p><p>Lyon est la capitale de beaucoup de domaines : la capitale des Gaules, celle de la gastronomie... mais également celle de l\'imprimerie en son temps.</p><p>En 1472, Barthélemy Buyer installe le premier atelier dans sa maison sur les quais de Saône. Au cours du siècle suivant, presque un tiers des éditions françaises sont imprimées à Lyon notamment dans la rue Mercière et ses alentours.</p><p>Beaucoup d\'imprimeurs sont d\'ailleurs protestants. Tant et si bien que lorsque la ville fut reprise par les catholiques, ils fuirent aux Pays-Bas ou à Genève. C\'est d\'ailleurs là-bas que s\'était réfugié Théodore de Bèze. Il y réceptionna le Codex, qu\'il avait demandé à ses amis de voler pour lui.</p><p>Mais au IXème siècle, bien avant la Bible de Gutenberg et les presses, Lyon a accueilli un diacre reconnu pour son ouvrage littéraire : Florus. Celui-ci a été authentifié comme l\'auteur de plusieurs pages du Codex.</p><p>Le musée de l\'imprimerie, déjà en lien avec le Codex par ces biais, possède également les Tables Claudiennes, qui, bien qu\'antérieures à la disparition des pages, a visiblement inspiré ceux qui les ont cachées.</p>');

                    thirdMarker.addTo(map);

                } else {


                    $('#message_alert').html('Malheureusement, ce n\est pas le mot qu\'il fallait deviner. Essaie encore !').css('color', 'white').css('background-color', 'red').css('text-align', 'center').css('font-size', '1rem');

                }

            }

            $('html').on('click', '#valider1', function () {


                verif()

            });

            // Lance la fonction verif quand on presse entrée
            $('html').on('keypress', '#reponse1', function (e) {

                var key = e.which;

                if (key == 13) { //The Enter press Key

                    verif()

                }

            });

        });
    });

});
