/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 html {
    position: relative;
    //margin: 0;
    min-height: 100%;
    //width: 100%;
}

body {
    //min-height: 100%;
    //position: relative;
}

* {
    font-family: 'MedievalSharp', cursive;
}

.container-fluid {
    padding: 0;
    margin-bottom: 120px;
}

.content {
    width: 100%;
    // height: 100%;
    //padding-bottom: 10%;
    padding-top: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Alert & Notice
.alert {
    font-family: sans-serif;
    text-align: center;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}


.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}



.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}


// cssheader
.header {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    color: rgba(0, 0, 0, 1);
}

.logo_lien:hover {
    -webkit-filter: opacity(50%);
    -moz-filter: opacity(50%);
    -o-filter: opacity(50%);
    -ms-filter: opacity(50%);
    filter: opacity(50%);
}
.row{
    padding: 0;
    margin:0!important;
}

.logo_entete{
    display: flex;
    justify-content: center;
}

.menu{
    display: flex;
    justify-content: center;
}

.connexion_lien {
    color: black;
    font-weight: bold;
    font-size: 1em;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 0;
}

.fa.big {
    font-size: 2rem;
    color: black;
}



.connexion_lien:hover,
.fa.big:hover {
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-decoration: none;
}



// Dropdown
ul,
li {
    list-style: none;
}

.hamb_menu {
    margin: 0;
}

// cssmap
#mapid {
    border-radius: 15px;
    -webkit-box-shadow: 5px 7px 5px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 7px 5px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 7px 5px 3px rgba(0, 0, 0, 0.3);;

    -webkit-filter: sepia(100%) grayscale(30%);
    -moz-filter: sepia(100%) grayscale(30%);
    -o-filter: sepia(100%) grayscale(30%);
    -ms-filter: sepia(100%) grayscale(30%);
    filter: sepia(100%) grayscale(30%);
    opacity: 0;
}

.personnage {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    text-align: center;
}


// Image de fond floue
body:before {
    content: "";
    position: fixed;
    z-index: -1;


    background-image: url('fond_4.png');
    background-size: cover;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(2px) grayscale(40%) opacity(70%);
    -moz-filter: blur(2px) grayscale(40%) opacity(70%);
    -o-filter: blur(2px) grayscale(40%) opacity(70%);
    -ms-filter: blur(2px) grayscale(40%) opacity(70%);
    filter: blur(2px) grayscale(40%) opacity(70%);
    transform: scale(1);
}

// Footer
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //width: 100%;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    clear: both;
    background-color: #1D1F21;
    color: #FFFFFF;
    font-size: 0.7em;
    font-family: sans-serif;
}

.footerleft,
.footerright,
.footerrightlast {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
}

.footerleft a,
.footerright a,
.footerleft a:visited,
.footerright a:visited,
.footerleft a:active,
.footerright a:active {
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

.footerleft a:hover,
.footerright a:hover {
    font-weight: bold;
    color: #1975C5;
}

.footerright img {
    width: 2em;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    padding: 0 5px;
}

.footerrightfirst {
    padding: 0 0 0 10px;
}

.pitch {
    color: #000000;
    padding: 10px;
}

.welcome {
    display: none;
    position: relative;
    top: 100px;
    padding: 10px;
    text-align: center;
    max-width: 550px;
    max-height: 340px;
    font-size: 25px;
    background-image: image-url("oldpaper.png");
    border-radius: 40px;
    opacity: 0.8;
}

pitch:before {
    content: "";
    position: fixed;
    z-index: 1;


    background-image: image-url("oldpaper.png");
    background-size: cover;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(2px) grayscale(40%) opacity(70%);
    -moz-filter: blur(2px) grayscale(40%) opacity(70%);
    -o-filter: blur(2px) grayscale(40%) opacity(70%);
    -ms-filter: blur(2px) grayscale(40%) opacity(70%);
    // filter: blur(2px) grayscale(40%) opacity(70%);
    // transform: scale(1);
}

.titre {
    text-align: center;
    align-items: center;
    position: absolute;
    //top: 60px;
    border-radius: 40px; 
    font-size: 80px;
    height: 100px;
    width: 550px;
    // bottom: 165px;
    // opacity: 0.8;
    cursor: pointer;
    // z-index: 1;
    background-image: image-url("oldpaper.png");
    
}

.jouer_lien {
    color: rgba(0, 0, 0, 1);
    //font-weight: bold;
    //font-size: 1em;
    //margin-right: 20px;
    //margin-bottom: 0;
}

.jouer_lien:hover {
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-decoration: none;
}

/*
.titre:hover {
    transition-duration: 2s;
    transform: translateX(-480px);
}

.welcome:hover {
    transition-duration: 2s;
    transform: translateY(450px);
}
*/

.welcome a {
    font-weight: bold;
    font-size: 3em;
}

.section1 {
    padding: 30px;
}

.choix {
    font-size: 2rem;
}

// Formulaires

.formfor {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 20px 0;
    background-color:rgba(255,255,255,0.9);
    color: #3F6864;
    border-radius: 5px;
    -webkit-box-shadow: 5px 7px 5px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 7px 5px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 7px 5px 3px rgba(0, 0, 0, 0.3);
}



.formfor a,
.formfor a:hover,
.formfor a:active,
.formfor a:visited {
    font-size: 0.8rem;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: rgba(63,104,100,1);

}

.formfor a:hover {
    color: rgba(0, 0, 0, 0.5);
}

.field,
.actions,
em,
form label,
form input,
form select,
form textarea {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    text-indent: 10px;
}

em{
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.8rem;
    align-self: flex-start;
}

.field input:hover{   
    border: 1px solid #618380;
    outline: none;
}

.field input:active,
.field input:focus{
    box-shadow: 0 0 5px 1px #3F6864;
    border: 1px solid #618380;
    outline: none;
}



.actions input{
    color: white;
    padding: 5% 10% 5% 10%;
    text-indent: 0;
    background-color: rgba(63,104,100,1);
    border: none;
    border-radius: 50px;
}

.actions input:hover{
    cursor: pointer;
    color: rgba(255,255,255,0.9);
    background-color: rgba(63,104,100,0.7);
}

//Checkbox Remember me
.fieldrem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

#startgame,
#startmap,
#startgame2,
#cathedrale,
#openbook,
#next_step,
#startgame3,
#encre,
#next_step2,
#startgame4,
#cybelestart,
#next_step3,
#startgame5,
#artistestart,
#openimg,
#next_step4,
#startgame6,
#blandinestart,
#next_step5,
#startgame7,
#endstart {
    cursor: pointer;
}

.bookpopup .leaflet-popup-content-wrapper {
    background-color: #11ffee00 !important;
    box-shadow: none;
}

.leaflet-popup-content {
    font-weight: bold;
    font-size: 1em;
}

// Page About

.about{
    font-family: 'IM Fell English', serif;
    // position: relative;
    padding: 30px;
    // align-items: center;
    text-align: center;
    background-color: rgba(250,250,250,1);
    box-shadow: 2px 2px 2px 2px #E1DBD7, -2px -2px 2px 2px #E1DBD7;
}

.about h1, .about h2{
    color: rgba(63,104,100,1);
}

.about p, .about h1, .about h2, .about h3, .about a{
    font-family: 'IM Fell English', serif;
}

.gamification p:last-child{
    padding-bottom: 2rem;
}

.transition{
    border-bottom: .5px solid grey;
    box-shadow: 0px 1px grey;
}


.about .row .contenu .titre_section h2{
    margin:2rem 0rem 2rem 0rem ;
}

.about p{
    font-size: 1.2rem;
}

.about a{
    color: #77ACA2;
}
.about a:hover{
    font-weight: bold;
    color: rgba(119, 172, 162,0.7);
    text-decoration: none;
}

.photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
    filter: grayscale(100%);
}

.satisfaction{
    /*display: none;*/
    background-color: white;
}

.satis{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

.satis h2{
    padding-top: 2rem;
}

.etoile {
font-size: 40px;
margin-right: 5px;
vertical-align: top;
margin: 5px;
line-height: 50px !important;
color: grey;
}

.etoiles{
    display: flex;
}

.commentaire{
    border:none;
    border-bottom: 2px solid rgba(63,104,100,1);
    text-align: center;
    outline: none;
    line-height: 3rem;  
    width: 50%;
    display: flex;
    align-items: flex-end;
}

.final{
    align-self: flex-end;
    border:1px solid rgba(63,104,100,1);;
    border-radius: 2px;
    color: rgba(63,104,100,1);
    padding: 0 2% 0 2%;
}

.final:hover{
    cursor: pointer;
}

