/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
	margin: 0;
	height: 100%;
}

body {
    font-family: fantasy;
    //margin: 0;
    min-height: 100%;
    position: relative;
}

.content {
    width: 100%;
    //height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Alert & Notice
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
}

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
}


.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
}



.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
}

//cssheader

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0,0,0,1);
    padding: 0 5rem 0 2rem;
    //background-color: rgba(0,0,0,0.2)
}

.logo_lien:hover{
  -webkit-filter: opacity(50%);
    -moz-filter: opacity(50%);
    -o-filter: opacity(50%);
    -ms-filter: opacity(50%);
    filter: opacity(50%);
}

.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.connexion_lien{
  color:black;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 2rem;
  margin-bottom: 0;
}

.fa.big{
  font-size: 2rem;
  color: black;
}



.connexion_lien:hover, .fa.big:hover{
  color: rgba(0,0,0,0.5);
  cursor: pointer;
  text-decoration: none;
}



//Dropdown

 ul, li{
  list-style: none;
}

.hamb_menu{
  margin:0;
}





//Image de fond floue
body:before{
	content: "";
  position: fixed;  
  z-index: -1;
  
  background-image: url('fond_3.png');
  background-size: cover;
  width: 100%;
  height: 100%;

    -webkit-filter: blur(2px) sepia(90%) grayscale(40%) contrast(80%);
    -moz-filter: blur(2px) sepia(90%) grayscale(40%) contrast(80%);
    -o-filter: blur(2px) sepia(90%) grayscale(40%) contrast(80%);
    -ms-filter: blur(2px) sepia(90%) grayscale(40%) contrast(80%);
    filter: blur(2px) sepia(90%) grayscale(40%) contrast(80%);
    transform: scale(1.02);
}

// Footer
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    padding-top: 20px;
    position: relative;
    bottom: 0;
    background-color: #1D1F21;
    color: #FFFFFF;
    font-size: 0.7em;
}

.footerleft,
.footerright,
.footerrightlast {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
}

.footerleft a,
.footerright a,
.footerleft a:visited,
.footerright a:visited,
.footerleft a:active,
.footerright a:active {
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

.footerleft a:hover,
.footerright a:hover {
    font-weight: bold;
    color: #1975C5;
}

.footerright img {
    width: 2em;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    padding: 0 5px;
}

.footerrightfirst {
    padding: 0 0 0 10px;
}

.welcome {
    padding: 10px;
    text-align: center;
}

.welcome a {
    font-weight: bold;
    font-size: 3em;
}

.section1 {
    padding: 30px;
}

// Formulaires

.formfor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 20px 0;
    background-color: #1D1F21;
    color: #FFFFFF;
    border-radius: 5px;
    -webkit-box-shadow: -12px 15px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: -12px 15px 0px 0px rgba(0,0,0,0.3);
    box-shadow: -12px 15px 0px 0px rgba(0,0,0,0.3);
}

.formfor a,
.formfor a:hover,
.formfor a:active,
.formfor a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;

}

.formfor a:hover {
    color: rgba(255,255,255,0.5);
}

.field,
.actions,
form label,
form input,
form select,
form textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 20px;
}

//Checkbox Remember me

.fieldrem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
}
