// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




@import "font-awesome-sprockets";
@import "font-awesome";


body {
    font-family: sans-serif;
    margin: 0;
}

.allcontent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Alert & Notice
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
}

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
}


.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
}



.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
}

//cssheader

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0,0,0,1);
    padding: 0 5rem 0 3rem;
    //background-color: rgba(0,0,0,0.2)
}

.logo_lien:hover{
  -webkit-filter: opacity(50%);
    -moz-filter: opacity(50%);
    -o-filter: opacity(50%);
    -ms-filter: opacity(50%);
    filter: opacity(50%);
}

.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.connexion_lien{
  color:black;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
}

.fa.big{
  font-size: 2rem;
  color: black;
}



.connexion_lien:hover, .fa.big:hover{
  color: rgba(0,0,0,0.5);
  cursor: pointer;
  text-decoration: none;
}



 ul, li{
  list-style: none;
}

.dropdown_menu{
 
}




//Image de fond floue
body:before{
	content: "";
  position: fixed;  
  z-index: -1;
  
  background-image: url('fond_2.jpeg');
  background-size: cover;
  width: 100%;
  height: 100%;

    -webkit-filter: blur(5px) sepia(100%) contrast(150%) opacity(10%);
    -moz-filter: blur(5px) sepia(100%) contrast(150%) opacity(10%);
    -o-filter: blur(5px) sepia(100%) contrast(150%) opacity(10%);
    -ms-filter: blur(5px) sepia(100%) contrast(150%) opacity(10%);
    filter: blur(5px) sepia(100%) contrast(150%) opacity(10%);
    transform: scale(1.02);
}

.container {

    display: flex;
    flex-direction: column; //width: 100%;
    //height: 100%;
    //justify-content: center;
    align-items: center;
    
}


// Footer
.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    position: fixed;
    bottom: 0;
    background-color: #1D1F21;
    color: #FFFFFF;
    font-size: 0.7em;
}

.footerleft,
.footerright,
.footerrightlast {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
}

.footerleft a,
.footerright a,
.footerleft a:visited,
.footerright a:visited,
.footerleft a:active,
.footerright a:active {
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

.footerleft a:hover,
.footerright a:hover {
    font-weight: bold;
    color: #1975C5;
}

.footerright img {
    width: 2em;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    padding: 0 5px;
}

.footerrightfirst {
    padding: 0 0 0 10px;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 150px;
    align-items: center;
}

.welcome {
    position: relative;
    padding: 10px;
    text-align: center;
}

.section1 {
    position: relative;
    padding: 30px;
}

// Formulaires

.formfor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 20px 0;
    background-color: #1D1F21;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #CEBD99;
    -webkit-box-shadow: -12px 15px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: -12px 15px 0px 0px rgba(0,0,0,0.3);
    box-shadow: -12px 15px 0px 0px rgba(0,0,0,0.3);
}

.field,
.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
}

//Checkbox Remember me
.fieldrem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
}

