// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "font-awesome-sprockets";
@import "font-awesome";


body {
    font-family: sans-serif;
    margin: 0;
}

// Alert & Notice
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
}

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
}


.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
}



.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
}


.header {
    display: flex;
    justify-content: space-between;
    color: white;
}


body:before{
	content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
    display: block;
    background-image: url('fond_2.jpeg');
    background-size: cover;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(5px) sepia(100%);
    -moz-filter: blur(5px) sepia(100%);
    -o-filter: blur(5px) sepia(100%);
    -ms-filter: blur(5px) sepia(100%);
    filter: blur(5px) sepia(100%);
}

.container {

    display: flex;
    flex-direction: column; //width: 100%;
    //heigth: 100%;
    //justify-content: center;
    align-items: center;
}


// Footer
.footer {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    background-color: #1D1F21;
    color: #FFFFFF;
    font-size: 0.7em;
}

.footerleft,
.footerright {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footerleft a,
.footerright a,
.footerleft a:visited,
.footerright a:visited,
.footerleft a:active,
.footerright a:active {
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

.footerleft a:hover,
.footerright a:hover {
    font-weight: bold;
    color: #1975C5;
}

.footerright img {
    width: 1.4em;
    height: 1.4em;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    padding: 0 5px;
}

.footerrightfirst {
    padding: 0 0 0 10px;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 150px;
    align-items: center;
}

.welcome {
    position: relative;
    padding: 10px;
}

.section1 {
    position: relative;
    padding: 30px;
}
