<div class='formfor'>
<p>Bienvenue <%= @email %> dans la course au Codex Bezae!</p>

<p>Merci de bine vouloir confirmer votre email en cliquant ci-dessous:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
</div>
