<div class='formfor'>
<p>Salut <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Votre email vient d'etre remplacé par <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Votre email a été remplacé par <%= @resource.email %>.</p>
<% end %>
</div>
