<div class='footer'>
   <div class="footerleft">
        <p>2017 © CODEX BEZAE - A game project for <a href="http://www.thehackingproject.org/">The Hacking Project</a></p>
    </div>
   <div class='footerright'>
   <p>Inspiré de l'édition 2014 du © <a href='http://raidinlyon.fr/'>RAIDinLyon</a></p>
   </div>
</div>
