<div class='footer col-sm-12'>
    <div class="footerleft">
        <p>Inspiré de l'édition 2014 du © <a href='https://raidinlyon.fr/' target="_blank">RAIDinLyon</a></p>
    </div>
    <div class='footerright'>
        <div class='footerrightfirst'>
            <p>2017 © CODEX BEZAE - A game project for <a href="https://www.thehackingproject.org/" target="_blank">The Hacking Project</a></p>
        </div>
        <div class='footerrightlast'>
            <%= link_to '<i class="fa fa-facebook"></i>'.html_safe, 'https://www.facebook.com/thehackingproject', target: :_blank %>
            <%= link_to '<i class="fa fa-twitter"></i>'.html_safe, 'https://twitter.com/the_hacking_pro', target: :_blank %>
        </div>
    </div>
</div>
