<div class='footer'>
   <div class="footerleft">
       <p>Inspiré de l'édition 2014 du © <a href='http://raidinlyon.fr/' target="_blank">RAIDinLyon</a></p>
    </div>
   <div class='footerright'>
       <div class='footerrightlast'>
           <p>2017 © CODEX BEZAE - A game project for <a href="http://www.thehackingproject.org/" target="_blank">The Hacking Project</a></p>
       </div>
       <div class='footerrightfirst'>
           <%= link_to image_tag('facebook'), 'https://www.facebook.com/thehackingproject', target: :_blank %> <%= link_to image_tag('twitter'), 'https://twitter.com/the_hacking_pro', target: :_blank %>
       </div>
   </div>
</div>
