<div class="header">
	<div id="logo_entete">

		<%=link_to image_tag("codex_noir.png", size: "125", class:"logo_lien"),root_path%>
	</div>
	<ul class="menu">

		<%if user_signed_in?%>
		<li><%=link_to 'Déconnexion', destroy_user_session_path, method: :delete, class:'connexion_lien' %></li>
		<%else%>
		<li><%= link_to 'Se connecter', new_user_session_path, class:'connexion_lien' %></li>
		<%end%>

		<ul class="dropdown">
			<a href="#" class="dropdown" data-toggle="dropdown">
				<i class="fa fa-bars big"></i>
			</a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">Contact</a></li>
				<li><a class="dropdown-item" href="#">A Propos</a></li>
			</ul>
			</ul>
</ul>
</div>
