<% flash.each do |key, value| %>
<div class="alert alert-<%= key %>" id="alert" >
	<a href="#" data-dismiss="alert" class="close">×</a>
	<ul>
		<li>
			<div class="alert-child">
				<%= value %>
			</div>
		</li>
	</ul>
</div>
<% end %>
